@charset "UTF-8";

@font-face {
    font-family: 'Segoe UI';
    src: url(_fonts/SAGOEUI.TTF);
}
 
* {
    margin: 0;
    padding:0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 25pt;
    font-family: 'Segoe UI';
    font-weight: 290;
    text-align: center;
}

h2 {
    font-size: 14pt;
    font-family: 'Segoe UI';
    font-weight: 290;
    margin: 7px 20px;
}

h3 {
    font-size: 13pt;
    font-family: 'Segoe UI';
    font-weight: 500;
    margin: -7px 5px 0px 5px;
}

h4 {
    font-size: 13pt;
    font-family: 'Segoe UI';
    font-weight: 290;
    margin: 7px 10px;
    color: rgb(80,80,80);
    text-align: center;
}

h5 {
    font-size: 14pt;
    font-family: 'Segoe UI';
    font-weight: 290;
    margin: 7px 10px;
    color: white;
    margin: auto;
    cursor: default;
}

p {
    font-size: 14pt;
    font-family: 'Segoe UI';
    font-weight: 290;
    text-align: center;
    margin: 10px 10px;
}

form {
	width: 100%;
    height: 100vh;
    display: block;
}

#top {
    width: 100%;
    height: 95%;
    display: flex;
}

    #top-left, #top-right {
        width: 50%;
        height: 100%;
        display: flex;
    }

    #top-left {
        background-color: whitesmoke;
    }

        #top-left-content {
            margin: auto;
        }

            .left-right {
                display: flex;
                width: 100%;
            }

                .left, .right {
                    width: 50%;
                    margin: 10px 10px;
                }

                    #advertisement-content {
                        width: 300px;
                        height: 250px;
                        background-color:black;
                        margin-right: 5px;
                    }

                    #os-content {
                        margin-top: -2px;
                        margin-left: 5px;
                        border: none;
                    }

                        .os-option {
                            width: 120px;
                            height: 82px;
                        }

                        #os-option-0 {
                            background: url(../_img/_os/img0.jpg);
                        }

                        #os-option-1 {
                            background: url(../_img/_os/img1.jpg);
                        }

                        #os-option-2 {
                            background: url(../_img/_os/img1.jpg);
                        }

                        #os-option-3 {
                            background: url(../_img/_os/img1.jpg);
                        }

                        #os-option-4 {
                            background: url(../_img/_os/img1.jpg);
                        }

                        #os-option-5 {
                            background: url(../_img/_os/img1.jpg);
                        }

                            

    #top-right {
        background-color: rgba(0,0,0,0.2);
    }

        .form {
            width: 100%;
            height: 100%;
        }
         
#bottom {
    width: 100%;
    height: 5%;
    background-color: rgb(80,80,80);
    display: flex;
}

    a {
        margin: auto auto auto 10px;
        color: white;
        text-decoration: none;
        padding: 2px 6px;
        border-radius: 6px;
        font-family: 'Segoe UI';
    }

    a:hover {
        background-color: rgb(114, 112, 112);
    }

@media screen and (max-width:1170px){
	#top{
		display:block;
	}
	#top-left,#top-right{
		width:100%;
	}
	#top-right{
		height: 115%;
	}
	#bottom {
		position: fixed;
	}
}

@media screen and (max-width:655px){
	#top-left,#top-right{
		height: 50%;
	}
	#top-right-content{
		transform: scale(0.8);
	}
}